:root {
  /* Pallet */
  --main-color: rgb(122, 49, 111);
  --lighter-main-color: rgb(205, 102, 136);
  --darker-main-color: rgb(70, 25, 89);
  --secondary-color: rgb(174, 216, 204);

  --text-color: rgb(41, 41, 41);

  /* Layout sizing */
  --header-height: 80px;
  --footer-height: 60px;

  --main-height: calc(100vh - (var(--header-height) + var(--footer-height)));

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  background: rgb(70, 25, 89);
  background: linear-gradient(
    180deg,
    rgba(70, 25, 89, 1) 0%,
    rgba(122, 49, 111, 1) 20%,
    rgba(205, 102, 136, 1) 80%,
    rgba(174, 216, 204, 1) 100%
  );
}

header {
  height: var(--header-height);
  background-color: var(--darker-main-color);
}

footer {
  height: var(--footer-height);
  background-color: var(--secondary-color);
  color: rgb(77, 77, 77);
}

main {
  min-width: 100vw;
  min-height: var(--main-height);
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
