:root {
  /* Pallet */
  --main-color: rgb(40, 40, 40);
  --lighter-main-color: rgb(50, 50, 50);
  --darker-main-color: rgb(30, 30, 30);

  --layout-color: rgb(20, 20, 40);
  --logo-bg-color: rgb(10, 10, 20);

  /* Layout sizing */
  --header-height: 80px;
  --footer-height: 60px;

  --main-height: calc(100vh - (var(--header-height) + var(--footer-height)));

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  background: rgb(70, 25, 89);
  background: linear-gradient(
    180deg,
    var(--darker-main-color) 40%,
    var(--main-color) 60%,
    var(--lighter-main-color) 90%
  );
}

header {
  height: var(--header-height);
  background-color: var(--layout-color);
}

header div {
  background-color: var(--logo-bg-color);
}

footer {
  height: var(--footer-height);
  background-color: var(--layout-color);
}

main {
  min-width: 100vw;
  min-height: var(--main-height);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: lightblue;
}

.p-sortable-column-badge {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
